*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background: #D6F1DC;
}

.baseStyle {
    width: 100%;
    background-color: #D6F1DC;
    color:  #2C3239;
    padding: 10px 0 0 0;
    margin: 0;
}

.col-12 {
    padding: 0;
    margin: 0;
}

nav a:hover {
    cursor: pointer;
}

.echarts-for-react,
.value {
    background: rgba(214, 241, 220, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.value p{
    margin: 0;
}

.chart-div {
    padding: 10px;
}

.chat-box {
    height: 500px;
    width: 80%;
    padding: 10px;
    background: rgba(214, 241, 220, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(214, 241, 220, 0.13);
}

.user-style{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: end;
}

.else-style {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: start;
}

.chat-user{
    background-color: #A17DD4;
    border-radius: 15px;
    color: #D6F1DC;
    padding: 5px 20px;
    text-align: end;
    overflow-wrap: break-word;
}

.chat-else {
    background-color: #6A528C;
    border-radius: 15px;
    color: #D6F1DC;
    padding: 5px 20px;
    text-align: start;
    overflow-wrap: break-word;
}
